<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crucius</title>
</head>
<body>
    <header>
        <nav>
            {{> nav}}
        </nav>
    </header>
    <footer>

    </footer>
</body>
</html>


