
<!-- Custom CSS -->
<link href="{{base_url}}/statics/css/landing-page.css" rel="stylesheet">
<link href="{{base_url}}/statics/css/bootstrap.css" rel="stylesheet">

<script src="{{base_url}}/statics/js/jquery.js"></script>
<script src="{{base_url}}/statics/js/bootstrap.js"></script>
<script src="{{base_url}}/statics/js/bootstrap.min.js"></script>
