<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>HOLA ESTE ES BASE MUSTACHE</h1>
    {{> home/index}}
    <header>
    </header>

    <section>
    </section>

    <footer>
    </footer>
</body>
</html>